test/src/conf/xml-resources/web-service-references/services/wsdl/msg.trsc.nic.in/MessagingService/services.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://main/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://main/" name="services">
<types>
<xsd:schema>
<xsd:import namespace="http://main/" schemaLocation="https://msg.trsc.nic.in:443/MessagingService/services?xsd=1"/>
</xsd:schema>
</types>
<message name="sendsms">
<part name="parameters" element="tns:sendsms"/>
</message>
<message name="sendsmsResponse">
<part name="parameters" element="tns:sendsmsResponse"/>
</message>
<message name="sendmail">
<part name="parameters" element="tns:sendmail"/>
</message>
<message name="sendmailResponse">
<part name="parameters" element="tns:sendmailResponse"/>
</message>
<message name="sendsms_new">
<part name="parameters" element="tns:sendsms_new"/>
</message>
<message name="sendsms_newResponse">
<part name="parameters" element="tns:sendsms_newResponse"/>
</message>
<message name="sendmail_new">
<part name="parameters" element="tns:sendmail_new"/>
</message>
<message name="sendmail_newResponse">
<part name="parameters" element="tns:sendmail_newResponse"/>
</message>
<portType name="services">
<operation name="sendsms">
<input wsam:Action="http://main/services/sendsmsRequest" message="tns:sendsms"/>
<output wsam:Action="http://main/services/sendsmsResponse" message="tns:sendsmsResponse"/>
</operation>
<operation name="sendmail">
<input wsam:Action="http://main/services/sendmailRequest" message="tns:sendmail"/>
<output wsam:Action="http://main/services/sendmailResponse" message="tns:sendmailResponse"/>
</operation>
<operation name="sendsms_new">
<input wsam:Action="http://main/services/sendsms_newRequest" message="tns:sendsms_new"/>
<output wsam:Action="http://main/services/sendsms_newResponse" message="tns:sendsms_newResponse"/>
</operation>
<operation name="sendmail_new">
<input wsam:Action="http://main/services/sendmail_newRequest" message="tns:sendmail_new"/>
<output wsam:Action="http://main/services/sendmail_newResponse" message="tns:sendmail_newResponse"/>
</operation>
</portType>
<binding name="servicesPortBinding" type="tns:services">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sendsms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendsms_new">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendmail_new">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="services">
<port name="servicesPort" binding="tns:servicesPortBinding">
<soap:address location="https://msg.trsc.nic.in:443/MessagingService/services"/>
</port>
</service>
</definitions>